# Base de Datos (PostgreSQL o SQLite local)
# Si lo dejas comentado, usará SQLite local (momia.db)
# DATABASE_URL=postgresql://usuario:contraseña@host:5432/nombre_db

# Almacenamiento en S3 (AWS Lightsail Bucket)
# Si dejas estas variables vacías o comentadas, las imágenes se guardarán localmente en /uploads/
# AWS_ACCESS_KEY_ID=tu_access_key
# AWS_SECRET_ACCESS_KEY=tu_secret_key
# AWS_BUCKET_NAME=momia-ts-bucket
# AWS_REGION=us-east-1

# Otras configuraciones de seguridad
SECRET_KEY=clave_secreta_super_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200

# CONFIGURACIÓN DE CORREO (SMTP - Ej. Amazon SES)
SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=AKIAIOSFODNN7EXAMPLE
SMTP_PASSWORD=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
SENDER_NAME="Momia TS"
SENDER_EMAIL=noreply@momiats.com

# Usuario Admin Maestro por Defecto
# Si la base de datos está vacía, se creará este usuario automáticamente al arrancar
# ADMIN_EMAIL=gerardo@gscodecr.com
# ADMIN_PASSWORD=231287
